@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    cursor: none !important;
}

::selection {
    /* background: rgba(179, 255, 0, 0.355);  */
    /* background: #774069 ; */
    background: #77655a ;
    color: white; 
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  * {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  body{
    background-color: #303030;
  }